html {
    box-sizing: border-box
}

*,*::before, *::after {
box-sizing: inherit;
}

body {
    font-family: 'source san pro', sans-serif;
    line-height: 1.5;
    background: #f2f2f2,
    color #323232;
}

img {
    max-width: 100%;
}

.icon {
   fill: currentColor;
   display: inline-block; 
   font-size: inherit;
   height: 1em;
   overflow: visible;
}

a {
    color: #323232
    text-decoration none;
}

a:hover {
 text-decoration: underline   
}

.container{
    max-width: 960px;
    margin: 40px auto;
    padding: 32px;
    background: #f2f2f2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

section{
 display: grid;
 grid-template-columns: 1fr 4fr;
 grid-gap: 20px; 
 padding:24px 0; 
 border-bottom: 1px solid lightgrey;
}

section:last-child{
    border-bottom: none;
}

.section-title{
  font-weight: bold;
  font-size: 18px;  
}

.my-name{
    font-size: 48px;
    line-height: 1;
}

.links{
    display: flex;
    margin: 10px 0 20px 0; 
}

.link-item{
    display: flex;
    flex-direction: column;
    align-items:center;
    flex: 1;
}

.link-item svg{
    margin-left: 10px;
}

.job{
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid lightgrey
}

.job:last-child{
    border-bottom: none
}

.job-title-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 15px;
}

.job-company{
    font-weight: bold;
    line-height: 1,2;   
}

.skills-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-bottom: 24px;
}

.skills-container ul{
    margin-right: 20px;
    list-style-type: disc;
}

.Hobbies-container{
    display: flex;
    margin-right: 20px;
    justify-content: space-between;
}

.open-course-ware-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 24px;

}

.open-course-ware-container ul{
    margin-left: 20px;
    list-style-type: disc;
}

.References{
    font-size: 18px;
}


#form {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 112.5%;
    margin-left: auto;
    margin-right: auto;
    max-width: 40em;
    width: 88%;
}  

/**
 * Form Styles
 */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.label-normal {
    font-weight: normal;
}

.pattern {
    color: #808080;
    font-size: 0.8em;
    font-weight: normal;
}

.supports-color .color,
.supports-date .date,
.supports-time .time,
.supports-month .mont {
    display: none;
}

input,
select {
    display: inline-block;
    font-size: 1em;
    margin-bottom: 1em;
    padding: 0.25em 0.5em;
    width: 100%;
}

[type="checkbox"],
[type="radio"] {
    margin-bottom: 0.5em;
    width: auto;
}

.button {
    background-color: #0088cc;
    border: 1px solid #0088cc;
    border-radius: 1px;
    color: #ffffff;
    display: inline-block;
    font-size: 0.9375em;
    font-weight: normal;
    line-height: 1.2;
    margin-right: 0.3125em;
    margin-bottom: 0.3125em;
    padding: 0.5em 0.6875em;
    width: auto;
}

.button:active,
.button:focus,
.button:hover {
    background-color: #005580;
    border-color: #005580;
    color: #ffffff;
    text-decoration: none;
}

.button:active {
    box-shadow: inset 0 0.15625em 0.25em rgba(0, 0, 0, 0.15), 0 1px 0.15625em rgba(0, 0, 0, 0.05);
}